.header {
  padding: 15px 30px;
  border-bottom: 1px solid #dce4ea;
  width: 100%;
  display: flex;

  &__controls {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
  }
}
